In [6]:
import pandas as pd

fs_path=r'C:\Users\lge\Desktop\파이썬연습\재무제표데이터.xlsx'
pd.read_excel(fs_path)

,Unnamed: 0,2012/02,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2013/02,Unnamed: 9,...,Unnamed: 271,Unnamed: 272,Unnamed: 273,2020/10,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280
0,NaN,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,...,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A060310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-16,322,505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A095570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-245,3244,17282,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A006840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1923,12308,41194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2283,A010240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88,731,1060,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2284,A189980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49,664,950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2285,A003280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-121,107,3549,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2286,A037440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55,553,1648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2287,A238490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,374,818,1044,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
raw_data=pd.read_excel(fs_path,index_col=0)#수정사항
big_col=list(raw_data.columns)
small_col=list(raw_data.iloc[0])
raw_data

,2012/02,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2013/02,Unnamed: 9,Unnamed: 10,...,Unnamed: 271,Unnamed: 272,Unnamed: 273,2020/10,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280
NaN,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,부채,...,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A060310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-16,322,505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A095570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-245,3244,17282,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A006840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1923,12308,41194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A010240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88,731,1060,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A189980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49,664,950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A003280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-121,107,3549,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A037440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55,553,1648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A238490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,374,818,1044,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:

new_big_col = []
for num, col in enumerate(big_col):
    if 'Unnamed' in col:
        new_big_col.append(new_big_col[num-1])
    else:
        new_big_col.append(big_col[num])

In [9]:
raw_data.columns=[new_big_col,small_col]

In [10]:
fs_df=raw_data.loc[raw_data.index.dropna()]

In [11]:
def get_finance_data(path):
    data_path=path
    raw_data=pd.read_excel(data_path, index_col=0)
    big_col=list(raw_data.columns)
    small_col=list(raw_data.iloc[0])
    
    new_big_col=[]
    for num,col in enumerate(big_col):
        if 'Unnamed' in col:
            new_big_col.append(new_big_col[num-1])
        else:
            new_big_col.append(big_col[num])
        
    raw_data.columns = [new_big_col, small_col]
    clean_df=raw_data.loc[raw_data.index.dropna()]
    
    return clean_df

In [12]:
fs_path=r'C:\Users\lge\Desktop\파이썬연습\재무제표데이터.xlsx'
fr_path=r'C:\Users\lge\Desktop\파이썬연습\재무비율데이터.xlsx'
invest_path=r'C:\Users\lge\Desktop\파이썬연습\투자지표데이터.xlsx'
fs_df=get_finance_data(fs_path)
fr_df=get_finance_data(fr_path)
invest_df=get_finance_data(invest_path)

In [13]:
invest_df.sort_values(by=('2017/12','PER'))

        2017/12                          2018/12                            \
            PER   PCR    PSR   PBR 총현금흐름     PER    PCR    PSR   PBR 총현금흐름
A071970    0.14  0.13   0.54  0.76    97     NaN    NaN   0.15  0.93   -96
A054620    0.18  0.18   1.48  0.52    45   72.75  25.18   3.12  0.36    28
A027410    0.20  0.20   5.72  0.69  1296   14.01  12.31   3.07  0.51   333
A002620    0.61  0.60   6.54  0.75    78   21.09  17.08   1.04  0.83    98
A088390    0.64  0.61   2.47  0.76   -47     NaN    NaN   1.32  0.54    73
...         ...   ...    ...   ...   ...     ...    ...    ...   ...   ...
A205470     NaN   NaN   6.56  3.57     2     NaN    NaN   3.92  2.36    -5
A115160     NaN   NaN   0.13  0.48   359     NaN    NaN   0.09  0.33   115
A028080     NaN   NaN  14.30  0.32  -103     NaN    NaN  11.60  0.22  -116
A212310     NaN   NaN   0.17  0.26    -0     NaN    NaN   0.16  0.59   -13
A003280     NaN   NaN   0.11  0.69   139     NaN    NaN   0.62  0.85   126

        2019/12                           2020/09
            PER     PCR   PSR   PBR 총현금흐름     PER  PCR  PSR    PBR 총현금흐름
A071970     NaN     NaN  0.34  0.63   -44     NaN  NaN  NaN   0.85    76
A054620     NaN  287.52  9.22  0.90  -304     NaN  NaN  NaN   0.76    -5
A027410   19.91   12.20  2.23  0.36   363     NaN  NaN  NaN   0.26   246
A002620     NaN     NaN  0.37  0.68   182     NaN  NaN  NaN   0.80   200
A088390     NaN     NaN  1.40  0.46   -22     NaN  NaN  NaN   0.56   100
...         ...     ...   ...   ...   ...     ...  ...  ...    ...   ...
A205470     NaN     NaN  4.28  2.56    -3     NaN  NaN  NaN  11.69   125
A115160    6.34    2.58  0.11  0.30   461     NaN  NaN  NaN   0.34   138
A028080    6.77    6.70  4.27  0.23     8     NaN  NaN  NaN   0.32  -220
A212310     NaN     NaN  0.05  0.06   -25     NaN  NaN  NaN    NaN   NaN
A003280     NaN     NaN  0.50  1.67   141     NaN  NaN  NaN   2.50    64

[2243 rows x 20 columns]

In [74]:
invest_df[('2017/12','PER')]=pd.to_numeric(invest_df[('2017/12','PER')])
per_sorted=invest_df.sort_values(by=('2017/12','PER'))

In [76]:
per_sorted['2017/12']

          PER   PCR    PSR   PBR 총현금흐름
A071970  0.14  0.13   0.54  0.76    97
A054620  0.18  0.18   1.48  0.52    45
A027410  0.20  0.20   5.72  0.69  1296
A002620  0.61  0.60   6.54  0.75    78
A088390  0.64  0.61   2.47  0.76   -47
...       ...   ...    ...   ...   ...
A205470   NaN   NaN   6.56  3.57     2
A115160   NaN   NaN   0.13  0.48   359
A028080   NaN   NaN  14.30  0.32  -103
A212310   NaN   NaN   0.17  0.26    -0
A003280   NaN   NaN   0.11  0.69   139

[2243 rows x 5 columns]

In [78]:
fr_df[('2017/12','ROA')]=pd.to_numeric(fr_df[('2017/12','ROA')])

ValueError: Unable to parse string "N/A(IFRS)" at position 172

In [79]:
import numpy as np

def check_IFRS(x):
    if x=='N/A(IFRS)':
        return np.NaN
    else:
        return x
    
fr_df[('2017/12','ROA')]=fr_df[('2017/12','ROA')].apply(check_IFRS)

In [80]:
fr_df[('2017/12','ROA')]=pd.to_numeric(fr_df[('2017/12','ROA')])
sorted_roa=fr_df.sort_values(by=('2017/12','ROA'),ascending=False)

In [81]:
sorted_roa

        2017/12                             2018/12                        \
           유동비율    부채비율 영업이익률    ROA   ROIC    유동비율   부채비율  영업이익률     ROA
A027410   492.2    18.3   8.8  252.0   18.2   546.6    6.1   13.4     3.8
A054620   388.9    26.5  -0.4  168.0   -0.2   262.2   20.2  -12.7     0.5
A002620   250.7    18.1   9.1  141.5    4.2   120.3   56.1    7.7     1.3
A071970    70.8   411.4   0.2   92.3    0.3   115.4  232.7   -6.8   -15.8
A299910    94.4  1033.9  21.7   79.1  854.7   580.7   23.7   22.7  -171.1
...         ...     ...   ...    ...    ...     ...    ...    ...     ...
A267250   119.9   106.8   5.9    NaN    NaN   102.6  121.2    3.2     1.3
A298040     NaN     NaN   NaN    NaN    NaN    74.7  279.4    2.3     NaN
A298050     NaN     NaN   NaN    NaN    NaN    69.9  443.9    3.6     NaN
A298020     NaN     NaN   NaN    NaN    NaN    71.6  544.7    3.7     NaN
A298000     NaN     NaN   NaN    NaN    NaN    63.9  350.2    5.8     NaN

               2019/12                              2020/09                \
          ROIC    유동비율   부채비율  영업이익률    ROA    ROIC    유동비율   부채비율  영업이익률
A027410   15.4   501.6    8.5   12.2    1.1    10.0   564.7    8.0   12.8
A054620   16.3   129.6   38.6  -45.7   -1.6  -378.8   186.7   47.4  -51.5
A002620    3.3    99.9   75.2    1.2  -10.9     2.3   102.5   78.3    3.3
A071970   -6.3   114.4  231.1   -4.2   -6.9    -5.8   114.1  226.0    1.7
A299910  437.5   427.7   25.8   -8.7   -7.5   -45.8   232.7   52.8  -37.9
...        ...     ...    ...    ...    ...     ...     ...    ...    ...
A267250    4.6   123.9  116.4    2.5    0.5     2.9   121.4  128.3   -2.0
A298040    NaN    74.6  303.9    3.4    0.4     2.8    77.0  322.2    1.1
A298050    NaN    63.9  524.4    5.2   -2.1    -8.4    52.4  547.9   -0.1
A298020    NaN    70.9  453.1    5.4    3.8     8.0    71.5  368.1    3.7
A298000    NaN   103.4  353.8    8.5    4.7     8.4    75.0  457.3    3.0


           ROA    ROIC
A027410    1.6     9.4
A054620   -0.3   -43.2
A002620    1.9     4.3
A071970   -0.4     2.6
A299910  -32.0  -123.7
...        ...     ...
A267250   -1.7    -1.6
A298040   -0.5     2.4
A298050   -1.2    -0.1
A298020    2.5     6.1
A298000   -0.3    -3.0

[2235 rows x 20 columns]

In [84]:
def low_per(invest_df,index_date,num):
    invest_df[(index_date,'PER')]=pd.to_numeric(invest_df[(index_date,'PER')])
    per_sorted=invest_df.sort_values(by=(index_date,'PER'))
    return per_sorted[index_date][:num]

In [85]:
low_per(invest_df,'2019/12',10)

          PER   PCR   PSR   PBR 총현금흐름
A083470  0.15  0.14  0.54  6.07   -12
A097230  0.96  0.90  0.18  1.68  1546
A151860  1.22  1.12  0.74  0.49   219
A054920  1.46  1.40  3.11  0.59    10
A900280  1.46  1.16  0.28  0.23   273
A003960  1.52  1.16  0.09  0.41   696
A001390  1.59  0.88  0.07  0.46  1763
A032940  1.64  1.56  0.84  0.67    64
A005670  1.96  1.65  0.42  0.78   125
A101330  2.20  1.38  0.16  0.38   540

In [86]:
def high_roa(fr_df,index_date,num):
    fr_df[(index_date,'ROA')]=fr_df[(index_date,'ROA')].apply(check_IFRS)
    fr_df[(index_date,'ROA')]=pd.to_numeric(fr_df[(index_date,'ROA')])
    sorted_roa=fr_df.sort_values(by=(index_date,'ROA'),ascending=False)
    return sorted_roa[index_date][:num]

In [88]:
high_roa(fr_df,'2019/12',10)

          유동비율   부채비율  영업이익률    ROA    ROIC
A083470  175.2  118.7  -43.9  129.0  -115.1
A950190  311.3   51.1   44.8   66.4     NaN
A214150  226.2   29.3   51.4   35.3    68.8
A335890  361.3   30.1   34.2   33.9    72.5
A138080  320.7   32.3   27.7   32.5    65.3
A347770  175.0   87.3   17.3   32.2    79.8
A337930  281.0  191.8   15.5   31.1   122.9
A151860   57.6   78.7    9.9   29.7    12.2
A032940   67.6   55.7    4.6   29.6    12.3
A032500  174.8   97.0   20.0   29.3    57.6

In [91]:
date='2019/12'
per=low_per(invest_df,date,None)
roa=high_roa(fr_df,date,None)

In [92]:
per['per순위']=per['PER'].rank()

In [93]:
roa['roa순위']=roa['ROA'].rank(ascending=False)

In [94]:
(per['per순위']+roa['roa순위']).sort_values()

A083470     2.0
A151860    11.0
A032940    17.0
A054920    20.0
A005670    32.5
           ...
A900140     NaN
A950130     NaN
A950160     NaN
A950190     NaN
A950200     NaN
Length: 2303, dtype: float64

In [100]:
def magic_formula(fr_df, invest_df, index_date, num): 
    per = low_per(invest_df, index_date, None) 
    roa = high_roa(fr_df, index_date, None) 
    per['per순위'] = per['PER'].rank() 
    roa['roa순위'] = roa['ROA'].rank(ascending=False) 
    magic = pd.merge(per, roa, how='outer', left_index=True, right_index=True) 
    magic['마법공식 순위'] = (magic['per순위'] + magic['roa순위']).rank()
    magic = magic.sort_values(by='마법공식 순위') 
    return magic[:num]

In [101]:
magic_formula(fr_df,invest_df,'2019/12',10)

,PER,PCR,PSR,PBR,총현금흐름,per순위,유동비율,부채비율,영업이익률,ROA,ROIC,roa순위,마법공식 순위
A083470,0.15,0.14,0.54,6.07,-12,1.0,175.2,118.7,-43.9,129.0,-115.1,1.0,1.0
A151860,1.22,1.12,0.74,0.49,219,3.0,57.6,78.7,9.9,29.7,12.2,8.0,2.0
A032940,1.64,1.56,0.84,0.67,64,8.0,67.6,55.7,4.6,29.6,12.3,9.0,3.0
A054920,1.46,1.40,3.11,0.59,10,4.5,84.2,38.0,-2.7,25.2,-5.0,15.5,4.0
A005670,1.96,1.65,0.42,0.78,125,9.0,147.4,80.3,6.0,22.8,8.3,23.5,5.0
A014100,3.01,2.77,1.05,1.16,41,24.0,142.4,75.8,1.7,25.4,2.9,14.0,6.0
A007720,2.37,2.18,0.69,0.91,69,11.0,275.2,47.1,1.8,19.3,1.4,42.0,7.0
A007120,3.00,2.93,5.63,0.59,6,23.0,1398.8,3.9,1.8,21.6,1.5,31.0,8.0
A084670,2.41,2.08,0.56,0.57,136,13.0,87.7,41.3,7.1,17.1,15.7,60.0,9.0
A101360,3.36,2.48,0.36,1.91,159,29.0,87.3,263.8,16.8,18.3,58.5,48.5,10.0

In [15]:
def get_value_rank(invest_df,value_type,index_date,num):
    invest_df[(index_date,value_type)]=pd.to_numeric(invest_df[(index_date,value_type)])
    value_sorted=invest_df.sort_values(by=(index_date,value_type))[index_date]
    value_sorted[value_type+'순위']=value_sorted[value_type].rank()
    return value_sorted[[value_type,value_type+'순위']][:num]

In [16]:
get_value_rank(invest_df,'PSR','2019/12',20)

          PSR  PSR순위
A037400  0.02    1.5
A064520  0.02    1.5
A038110  0.03    5.0
A007860  0.03    5.0
A024900  0.03    5.0
A122690  0.03    5.0
A082850  0.03    5.0
A035080  0.04    8.0
A001250  0.05   11.5
A000880  0.05   11.5
A002020  0.05   11.5
A212310  0.05   11.5
A012860  0.05   11.5
A016250  0.05   11.5
A058650  0.06   18.0
A020560  0.06   18.0
A001120  0.06   18.0
A036710  0.06   18.0
A011760  0.06   18.0
A009620  0.06   18.0

In [17]:
date='2019/12'
per=get_value_rank(invest_df,'PER',date,None)
pbr=get_value_rank(invest_df,'PBR',date,None)
value_combo=pd.merge(per,pbr,how='outer',left_index=True,right_index=True)
value_combo['종합순위']=(value_combo['PER순위']+value_combo['PBR순위']).rank()
value_combo=value_combo.sort_values(by='종합순위')

In [18]:
value_combo[:20]

          PER  PER순위   PBR  PBR순위  종합순위
A900280  1.46    4.5  0.23   16.0   1.0
A003480  2.53   15.0  0.21   11.0   2.0
A012630  2.57   17.0  0.29   44.0   3.0
A002920  3.97   43.5  0.25   24.0   4.0
A900300  2.60   18.0  0.30   54.5   5.0
A024830  4.00   45.0  0.28   37.0   6.0
A900270  2.62   19.0  0.31   64.5   7.0
A006120  2.96   22.0  0.32   71.0   8.0
A004960  2.38   12.0  0.34   83.0   9.0
A208890  5.08   79.5  0.23   16.0  10.0
A003830  5.28   91.0  0.22   13.5  11.0
A016250  4.58   62.0  0.29   44.0  12.0
A002030  4.70   68.0  0.29   44.0  13.0
A036530  4.03   46.0  0.32   71.0  14.0
A012620  3.97   43.5  0.33   76.5  15.0
A002200  4.39   58.0  0.32   71.0  16.0
A001940  5.31   92.0  0.29   44.0  17.0
A084010  4.93   72.5  0.31   64.5  18.0
A101330  2.20   10.0  0.38  128.0  19.0
A024800  3.62   33.0  0.37  115.0  20.0

In [19]:
#저평가 지표 조합 함수
def make_value_combo(value_list, invest_df, index_date, num):
    
    for i, value in enumerate(value_list):
        temp_df = get_value_rank(invest_df, value, index_date, None)
        if i == 0:
            value_combo_df = temp_df
            rank_combo = temp_df[value + '순위']
        else:
            value_combo_df = pd.merge(value_combo_df, temp_df, how='outer', left_index=True, right_index=True)
            rank_combo = rank_combo + temp_df[value + '순위']
    
    value_combo_df['종합순위'] = rank_combo.rank()
    value_combo_df = value_combo_df.sort_values(by='종합순위')
    
    return value_combo_df[:num]

In [20]:
make_value_combo(['PER','PBR','PSR','PCR'],invest_df,'2019/12',20)

           PER  PER순위   PBR  PBR순위   PSR  PSR순위   PCR  PCR순위  종합순위
A003480   2.53   15.0  0.21   11.0  0.09   49.0  0.86    6.5   1.0
A016250   4.58   62.0  0.29   44.0  0.05   11.5  0.89    9.0   2.0
A208890   5.08   79.5  0.23   16.0  0.10   65.0  0.62    2.0   3.0
A006120   2.96   22.0  0.32   71.0  0.11   79.0  1.86   48.5   4.0
A004960   2.38   12.0  0.34   83.0  0.11   79.0  1.95   55.0   5.0
A003960   1.52    6.0  0.41  155.0  0.09   49.0  1.16   20.5   6.0
A013580   2.53   15.0  0.39  136.0  0.08   36.5  1.86   48.5   7.5
A010100   5.90  112.0  0.31   64.5  0.07   27.5  1.55   32.0   7.5
A001390   1.59    7.0  0.46  220.0  0.07   27.5  0.88    8.0   9.5
A084690   3.46   31.0  0.43  179.0  0.07   27.5  1.34   25.0   9.5
A002030   4.70   68.0  0.29   44.0  0.15  128.0  1.39   27.0  11.0
A015750   7.63  202.0  0.28   37.0  0.09   49.0  1.03   13.0  12.0
A101330   2.20   10.0  0.38  128.0  0.16  147.0  1.38   26.0  13.0
A267290   5.10   81.5  0.37  115.0  0.09   49.0  2.50   97.0  14.0
A005720   5.84  110.0  0.33   76.5  0.15  128.0  1.45   30.0  15.0
A900280   1.46    4.5  0.23   16.0  0.28  325.0  1.16   20.5  16.0
A036530   4.03   46.0  0.32   71.0  0.17  163.0  2.39   89.0  17.0
A115160   6.34  135.0  0.30   54.5  0.11   79.0  2.58  101.0  18.0
A076340   5.11   83.5  0.36  100.5  0.13   99.0  2.60  103.5  19.0
A058650  10.20  346.5  0.16    5.0  0.06   18.0  1.22   23.0  20.0

In [21]:
# F-score
def get_fscore(fs_df, index_date, num):
    fscore_df = fs_df[index_date]
    fscore_df['당기순이익점수'] = fscore_df['당기순이익'] > 0
    fscore_df['영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > 0
    fscore_df['더큰영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > fscore_df['당기순이익']
    fscore_df['종합점수'] = fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']].sum(axis=1)
    fscore_df = fscore_df[fscore_df['종합점수'] == 3]
    return fscore_df[:num]

In [23]:
get_fscore(fs_df,'2019/12',20)

<ipython-input-21-62d8688209b0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fscore_df['당기순이익점수'] = fscore_df['당기순이익'] > 0
<ipython-input-21-62d8688209b0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fscore_df['영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > 0
<ipython-input-21-62d8688209b0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fscore_df['더큰영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > fscore_df['당기순이익']
<ipython-input-21-62d8688209b0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fscore_df['종합점수'] = fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']].sum(axis=1)

,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A006840,574,37595,28980,1313,2742,14299,43280,True,True,True,3
A265520,95,4621,3068,284,181,1141,4210,True,True,True,3
A211270,7,457,204,71,71,823,1026,True,True,True,3
A282330,1514,59461,15498,1966,5328,6226,21724,True,True,True,3
A001040,3238,337797,257663,15092,38646,146151,403814,True,True,True,3
A035760,586,37897,22830,2694,7434,31519,54349,True,True,True,3
A000120,509,104151,54548,3072,8492,36552,91100,True,True,True,3
A011150,18,1492,630,37,73,644,1273,True,True,True,3
A097950,1910,223525,167992,8969,21431,94815,262806,True,True,True,3
A051500,96,30551,8925,581,786,2891,11817,True,True,True,3
A000590,166,1350,281,170,193,2862,3143,True,True,True,3
A012030,44,2385,1522,185,310,2110,3632,True,True,True,3
A000990,1046,8074,4442,1813,1611,6447,10889,True,True,True,3
A068790,172,1962,1365,227,197,1660,3025,True,True,True,3
A004840,135,5470,2838,265,418,4615,7453,True,True,True,3
A155660,88,2363,851,107,138,1553,2404,True,True,True,3
A069730,68,1915,598,52,145,1419,2016,True,True,True,3
A079190,2,614,197,11,46,299,496,True,True,True,3
A007700,1099,9103,2007,1507,1616,4837,6844,True,True,True,3
A130500,22,672,373,16,32,429,802,True,True,True,3

In [25]:
price_path=r'C:\Users\lge\Desktop\파이썬연습\가격데이터.xlsx'
price_df=pd.read_excel(price_path)

# 모멘텀 함수
def get_momentum_rank(price_df, index_date, date_range, num):
    momentum_df = pd.DataFrame(price_df.pct_change(date_range).loc[index_date])
    momentum_df.columns = ['모멘텀']
    momentum_df['모멘텀순위'] = momentum_df['모멘텀'].rank(ascending=False)
    momentum_df = momentum_df.sort_values(by='모멘텀순위')
    return momentum_df[:num]

In [29]:
get_momentum_rank(price_df,'2019-12-27',240,20)

TypeError: cannot perform __truediv__ with this index type: DatetimeArray

In [30]:
# 저평가 + F-score
def get_value_quality(invest_df, fs_df, index_date, num):
    value = make_value_combo(['PER', 'PBR', 'PSR', 'PCR'], invest_df, index_date, None)
    quality = get_fscore(fs_df, index_date, None)
    value_quality = pd.merge(value, quality, how='outer', left_index=True, right_index=True)
    value_quality_filtered = value_quality[value_quality['종합점수'] == 3]
    vq_df = value_quality_filtered.sort_values(by='종합순위')
    return vq_df[:num]

In [31]:
get_value_quality(invest_df,fs_df,'2019/12',20)

<ipython-input-21-62d8688209b0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fscore_df['당기순이익점수'] = fscore_df['당기순이익'] > 0
<ipython-input-21-62d8688209b0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fscore_df['영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > 0
<ipython-input-21-62d8688209b0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fscore_df['더큰영업활동점수'] = fscore_df['영업활동으로인한현금흐름'] > fscore_df['당기순이익']
<ipython-input-21-62d8688209b0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fscore_df['종합점수'] = fscore_df[['당기순이익점수', '영업활동점수', '더큰영업활동점수']].sum(axis=1)

,PER,PER순위,PBR,PBR순위,PSR,PSR순위,PCR,PCR순위,종합순위,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익점수,영업활동점수,더큰영업활동점수,종합점수
A003480,2.53,15.0,0.21,11.0,0.09,49.0,0.86,6.5,1.0,304,8776,15002,384,670,3605,18607,True,True,True,3.0
A016250,4.58,62.0,0.29,44.0,0.05,11.5,0.89,9.0,2.0,315,16985,15152,770,947,5192,20344,True,True,True,3.0
A208890,5.08,79.5,0.23,16.0,0.10,65.0,0.62,2.0,3.0,4,187,36,4,29,84,120,True,True,True,3.0
A010100,5.90,112.0,0.31,64.5,0.07,27.5,1.55,32.0,7.5,109,9540,4241,149,538,2281,6523,True,True,True,3.0
A084690,3.46,31.0,0.43,179.0,0.07,27.5,1.34,25.0,9.5,1382,35525,16870,1555,1981,12093,28963,True,True,True,3.0
A002030,4.70,68.0,0.29,44.0,0.15,128.0,1.39,27.0,11.0,945,15424,14084,1581,2255,14611,28695,True,True,True,3.0
A015750,7.63,202.0,0.28,37.0,0.09,49.0,1.03,13.0,12.0,295,33895,21301,734,3827,13162,34463,True,True,True,3.0
A101330,2.20,10.0,0.38,128.0,0.16,147.0,1.38,26.0,13.0,465,6525,6478,320,827,3437,9915,True,True,True,3.0
A267290,5.10,81.5,0.37,115.0,0.09,49.0,2.50,97.0,14.0,246,14227,4104,281,340,3396,7500,True,True,True,3.0
A005720,5.84,110.0,0.33,76.5,0.15,128.0,1.45,30.0,15.0,1137,22913,20815,2251,3233,20165,40980,True,True,True,3.0
A900280,1.46,4.5,0.23,16.0,0.28,325.0,1.16,20.5,16.0,217,1131,156,294,359,2163,2319,True,True,True,3.0
A115160,6.34,135.0,0.30,54.5,0.11,79.0,2.58,101.0,18.0,203,11739,6024,229,794,4198,10221,True,True,True,3.0
A076340,5.11,83.5,0.36,100.5,0.13,99.0,2.60,103.5,19.0,41,1548,142,25,100,573,715,True,True,True,3.0
A058650,10.20,346.5,0.16,5.0,0.06,18.0,1.22,23.0,20.0,485,49307,24243,895,3658,30324,54567,True,True,True,3.0
A043370,5.73,106.0,0.31,64.5,0.17,163.0,2.23,75.0,21.0,316,10884,3441,156,435,5765,9206,True,True,True,3.0
A004690,9.06,282.0,0.26,30.0,0.10,65.0,2.15,70.0,25.0,360,34616,25194,856,3171,13929,39124,True,True,True,3.0
A002920,3.97,43.5,0.25,24.0,0.27,310.0,2.18,72.0,26.0,207,2596,905,122,309,3059,3964,True,True,True,3.0
A900300,2.60,18.0,0.30,54.5,0.28,325.0,2.21,74.0,28.0,318,2996,255,459,520,2766,3021,True,True,True,3.0
A306200,6.95,165.0,0.30,54.5,0.14,110.5,3.17,161.0,30.0,249,12272,4576,459,659,5712,10288,True,True,True,3.0
A005990,6.44,137.0,0.48,256.5,0.09,49.0,1.88,51.0,31.0,672,15908,3826,844,1004,5738,9565,True,True,True,3.0